@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="categoriesInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="名称"/>
                            <#input id="code" name="编号" underline="true"/>
                            <#input id="pcodeName" name="父级编号" underline="true"
                                    hidden="pcode" readonly="readonly"
                                    clickFun="TblCategoriesInfoDlg.showCategoriesSelectTree(); return false;"
                                    style="background-color: #ffffff !important;"
                                    selectFlag="true" selectId="pcodeTreeDiv" selectTreeId="pcodeTree" selectStyle="width:244px !important;"/>
                            <#input id="num" name="排序" underline="true"/>

                </div>
                <div class="col-sm-6">
                    <#input id="tips" name="备注" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TblCategoriesInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TblCategoriesInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/commoditymanage/tblCategories/tblCategories_info.js"></script>
@}
