@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal"  id="orderInfoForm">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="logisticsIdValue" value="${item.logisticsId}">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="belongPlatform" name="订单号" value="${item.belongPlatform}" underline="false"  disabled="disabled"/>
                    <#input id="code" name="订单号" value="${item.code}" underline="true"  disabled="disabled"/>
                    <!--<#input id="commodityIds" name="货品id" value="${item.commodityIds}" underline="true"/>-->
                    <#input id="commodityDetails" name="订单货品详情" value="${item.commodityDetails}" underline="false"/>
                    <#input id="quantity" name="数量" value="${item.quantity}" underline="true"/>
                    <#input id="weight" name="重量(kg)" value="${item.weight}" underline="false"/>
                    <#input id="recipientName" name="收件人姓名" value="${item.recipientName}" underline="true"/>
                    <#input id="transactionDate" name="订单日期" value="${item.transactionDate}" disabled="disabled"
                        clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" underline="false"/>
                    <#input id="recipientPhone" name="收件人联系电话" value="${item.recipientPhone}" />
                    <#select id="logisticsId" name="物流商">
                        <option value=""></option>
                        @ for(logistics in logisticsList){
                        <option value="${logistics.id}">${logistics.code}</option>
                        @}
                    </#select>

                </div>

                <div class="col-sm-6">
                    <#input id="sku" name="sku码" value="${item.sku}" underline="false"/>
                    <#input id="orderAmount" name="金额" value="${item.orderAmount}" underline="true"/>
                    <#input id="country" name="国家" value="${item.country}" underline="false"/>
                    <#input id="province" name="州/省" value="${item.province}" underline="true"/>
                    <#input id="city" name="城市" value="${item.city}" underline="false"/>
                    <#input id="county" name="县/区/市" value="${item.county}" underline="true"/>
                    <#input id="detailAddress" name="详细地址" value="${item.detailAddress}" underline="false"/>
                    <#input id="zipcode" name="邮编" value="${item.zipcode}" underline="true"/>
                    <#input id="logisticsCode" name="物流单号" value="${item.logisticsCode}"  />
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TblOrderInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TblOrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/js/jquery.cxselect.min.js"></script>
<script src="${ctxPath}/static/modular/ordermanage/tblOrder/tblOrder_info.js"></script>
@}
