@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="code" name="订单号" value="${item.code}" underline="true"/>
                            <#input id="keywords" name="产品关键字" value="${item.keywords}" underline="true"/>
                            <#input id="amountRMB" name="刷单金额RMB" value="${item.amountRMB}" underline="true"/>
                            <#input id="amountRUB" name="刷单金额（卢布）" value="${item.amountRUB}" underline="true"/>
                            <#input id="shipway" name="0:中国直发;1:海外仓" value="${item.shipway}" underline="true"/>
                            <#input id="commodityLink" name="产品链接" value="${item.commodityLink}" underline="true"/>
                            <#input id="commodityLinkImg" name="产品链接截图" value="${item.commodityLinkImg}" />
                </div>

                <div class="col-sm-6">
                            <#input id="evaluationInfo" name="评价图片路径" value="${item.evaluationInfo}" underline="true"/>
                            <#input id="evaluationImg" name="" value="${item.evaluationImg}" underline="true"/>
                            <#input id="clientName" name="客户名称" value="${item.clientName}" underline="true"/>
                            <#input id="clientPhone" name="客户联系方式" value="${item.clientPhone}" underline="true"/>
                            <#input id="brushName" name="刷单人员名称" value="${item.brushName}" underline="true"/>
                            <#input id="brushAccount" name="刷单账号" value="${item.brushAccount}" underline="true"/>
                            <#input id="burshSuccessImg" name="刷单成功截图路径" value="${item.burshSuccessImg}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TblBrushInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TblBrushInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/brushmanage/tblBrush/tblBrush_info.js"></script>
@}
