<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.TblCommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.TblCommodity">
        <id column="id" property="id" />
        <result column="esname" property="esname" />
        <result column="cnname" property="cnname" />
        <result column="categories_id" property="categoriesId" />
        <result column="sku" property="sku" />
        <result column="spu" property="spu" />
        <result column="stock" property="stock" />
        <result column="title" property="title" />
        <result column="discount_price" property="discountPrice" />
        <result column="origin_price" property="originPrice" />
        <result column="color" property="color" />
        <result column="product_size" property="productSize" />
        <result column="weight" property="weight" />
        <result column="package_size" property="packageSize" />
        <result column="brands" property="brands" />
        <result column="desc" property="desc" />
        <result column="supplier_id" property="supplierId" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="picture_id" property="pictureId" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <!--<sql id="Base_Column_List">
        id, esname, cnname, categories_id AS categoriesId, sku, spu, stock, title, discount_price AS discountPrice, origin_price AS originPrice, color, product_size AS productSize, weight, package_size AS packageSize, brands, desc, supplier_id AS supplierId, purchase_price AS purchasePrice, picture_id AS pictureId, createtime, updatetime
    </sql>-->
    <sql id="Base_Column_List">
        tcd.id AS id, tcd.esname AS esname, tcd.cnname AS cnname, tcd.categories_id AS categoriesId, tcg.name AS categoriesName, tcd.sku AS sku,
        tcd.spu AS spu, tcd.stock AS stock, tcd.title AS title, tcd.discount_price AS discountPrice, origin_price AS originPrice, tcd.color AS color,
        tcd.product_size AS productSize, weight, tcd.package_size AS packageSize, tcd.brands AS brands, tcd.desc AS `desc`, tcd.supplier_id AS supplierId,
        tsp.cnname AS supplierCnName, tsp.esname AS supplierEsName, tsp.sku AS supplierSku, tsp.phone AS supplierPhone,
        tcd.purchase_price AS purchasePrice, tcd.picture_id AS pictureId, tcd.createtime AS createtime, tcd.updatetime AS updatetime
    </sql>

    <select id="selectCommodityList" resultType="map">
        select
        <include refid="Base_Column_List" />
        from tbl_commodity tcd
        LEFT JOIN tbl_categories tcg ON tcd.categories_id = tcg.id
        LEFT JOIN  tbl_supplier tsp ON tcd.supplier_id = tsp.id
        WHERE 1 = 1
        <if test="name != null">
            AND tcd.cnname  LIKE CONCAT('%',#{name},'%') OR tcd.esname LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="categoriesName != null">
            AND tcg.name LIKE  CONCAT('%',#{categoriesName},'%')
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (tcd.updatetime between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
        <if test="rowNum != null and rowNum != 0">
            limit 0, #{rowNum}
        </if>
    </select>

    <select id="selsectNameByIds">
        select (
        CASE tc.cnname
        WHEN (tc.cnname IS NULL)
        THEN tc.esname
        ELSE tc.cnname
        END
        ) AS commodityName
        from tbl_commodity tc
        where tc.id IN (#{ids})
    </select>

</mapper>
