<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.TblOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.TblOrder">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="commodity_ids" property="commodityIds"/>
        <result column="commodity_details" property="commodityDetails"/>
        <result column="quantity" property="quantity"/>
        <result column="weight" property="weight"/>
        <result column="recipient_name" property="recipientName"/>
        <result column="transaction_date" property="transactionDate"/>
        <result column="country" property="country"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="county" property="county"/>
        <result column="detail_address" property="detailAddress"/>
        <result column="zipcode" property="zipcode"/>
        <result column="recipient_phone" property="recipientPhone"/>
        <result column="logistics_id" property="logisticsId"/>
        <result column="belong_platform" property="belongPlatform"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tod.id AS id, tod.code AS code, tod.sku AS sku, tod.commodity_ids AS commodityIds, tod.commodity_details AS commodityDetails,
        tod.quantity AS quantity, tod.weight AS weight, tod.recipient_name AS recipientName, tod.transaction_date AS transactionDate,
        tod.country AS country, tod.province AS province, tod.city AS city, tod.county AS county, tod.detail_address AS detailAddress, tod.zipcode As zipcode, tod.recipient_phone AS recipientPhone,
        tod.logistics_id AS logisticsId, tl.code AS logisticsCode, tod.belong_platform AS belongPlatform, tod.order_amount as orderAmount, u.name AS createUserName
    </sql>

    <!-- 导出查询结果列 -->
    <sql id="Export_Column_List">
        tod.code AS code, tod.sku AS sku, tod.commodity_details AS commodityDetails,
        tod.quantity AS quantity, tod.weight AS weight, tod.recipient_name AS recipientName, tod.transaction_date AS transactionDate,
        tod.country AS country, tod.province AS province, tod.city AS city, tod.county AS county, tod.detail_address AS detailAddress, tod.zipcode As zipcode, tod.recipient_phone AS recipientPhone,
        tl.code AS logisticsCode, tod.belong_platform AS belongPlatform,  tod.order_amount as orderAmount
    </sql>

    <select id="selectOrderList" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from tbl_order tod
        LEFT JOIN tbl_logistics tl ON tod.logistics_id = tl.id
        LEFT JOIN sys_user u ON  tod.create_user_id = u.id
        where 1=1
        <if test="code != null and code != ''">
            and tod.code like CONCAT('%',#{code},'%')
        </if>
        <if test="sku != null and sku != ''">
            and tod.sku like CONCAT('%',#{sku},'%')
        </if>
        <if test="address != null and address != ''">
            and (tod.country LIKE CONCAT('%',#{address},'%') OR tod.province LIKE CONCAT('%',#{address},'%') OR tod.city LIKE CONCAT('%',#{address},'%') OR tod.county LIKE CONCAT('%',#{address},'%'))
        </if>
        <if test="logisticsCode != null and logisticsCode != ''">
            and tl.code like CONCAT('%',#{logisticsCode},'%')
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (tod.transaction_date between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
        <if test="createUserId != -999 ">
            and (tod.create_user_id = #{createUserId})
        </if>
    </select>

    <select id="selectOrderVoList" resultType="com.stylefeng.guns.modular.ordermanage.vo.TblOrderVo">
        select
        <include refid="Export_Column_List"/>
        from tbl_order tod
        LEFT JOIN tbl_logistics tl ON tod.logistics_id = tl.id
        where 1=1
        <if test="code != null and code != ''">
            and tod.code like CONCAT('%',#{code},'%')
        </if>
        <if test="sku != null and sku != ''">
            and tod.sku like CONCAT('%',#{sku},'%')
        </if>
        <if test="address != null and address != ''">
            and (tod.country LIKE CONCAT('%',#{address},'%') OR tod.province LIKE CONCAT('%',#{address},'%') OR tod.city LIKE CONCAT('%',#{address},'%') OR tod.county LIKE CONCAT('%',#{address},'%'))
        </if>
        <if test="logisticsCode != null and logisticsCode != ''">
            and tl.code like CONCAT('%',#{logisticsCode},'%')
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (tod.transaction_date between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
        <if test="createUserId != -999 ">
            and (tod.create_user_id = #{createUserId})
        </if>
        <if test="startPage != null and pageSize != null and pageSize != 0 ">
            limit #{startPage}, #{pageSize}
        </if>
    </select>

</mapper>
