<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.TblSupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.TblSupplier">
        <id column="id" property="id" />
        <result column="suppliercode" property="suppliercode" />
        <result column="cnname" property="cnname" />
        <result column="esname" property="esname" />
        <result column="sku" property="sku" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="oicq" property="oicq" />
        <result column="email" property="email" />
        <result column="licenseid" property="licenseid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, suppliercode, cnname, esname, sku, contacts, phone, oicq, email, licenseid
    </sql>

    <select id="selectIdAndNameList" resultType="map">
        SELECT id AS id, CONCAT(cnname, '(', esname, ')') AS `name`
        FROM tbl_supplier
    </select>
</mapper>
