@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="categoriesInfoForm">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="supplierIdValue" value="${item.supplierId}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="esname" name="英文名称" value="${item.esname}" underline="false"/>
                    <#input id="cnname" name="中文名称" value="${item.cnname}" underline="true"/>
                    <#input id="categoriesName" name="货品分类" value="${categoriesName}" hidden="categoriesId"
                        hiddenValue="${item.categoriesId}" readonly="readonly"
                        clickFun="TblCommodityInfoDlg.showCategoriesSelectTree(); return false;"
                        style="background-color: #ffffff !important;"/>
                    <#input id="sku" name="货品sku" value="${item.sku}" underline="true"/>
                    <#input id="spu" name="货品spu" value="${item.spu}" underline="false"/>
                    <#input id="stock" name="库存" value="${item.stock}" underline="true"/>
                    <#input id="title" name="标题" value="${item.title}" underline="false"/>
                    <#input id="discountPrice" name="折扣价格" value="${item.discountPrice}" underline="true"/>
                    <#input id="originPrice" name="原价格" value="${item.originPrice}" underline="false"/>
                    <#input id="keyWord" name="关键词" value="${item.keyWord}" underline="true"/>
                    <#input id="pictureUrlOne" name="主图1" value="${item.pictureUrlOne}" underline="false"/>
                    <#input id="pictureUrlThree" name="图片3" value="${item.pictureUrlThree}" underline="true"/>
                    <#input id="pictureUrlFive" name="图片5" value="${item.pictureUrlFive}" underline="false"/>
                    <#input id="pictureUrlSeven" name="图片7" value="${item.pictureUrlSeven}"/>


                </div>

                <div class="col-sm-6">
                    <#input id="productSize" name="产品尺寸" value="${item.productSize}" underline="false"/>
                    <#input id="weight" name="重量(kg)" value="${item.weight}" underline="true"/>
                    <#input id="packageSize" name="包裹尺寸" value="${item.packageSize}" underline="false"/>
                    <#input id="brands" name="品牌" value="${item.brands}" underline="true"/>
                    <#input id="color" name="颜色" value="${item.color}" />
                    <#input id="desc" name="描述" value="${item.desc}" underline="true"/>
                    <#select id="supplierId" name="供应商" underline="false">
                        <option value="">请选择-----</option>
                        @ for(supplier in supplierList){
                        <option value="${supplier.id}">${supplier.name}</option>
                        @}
                    </#select>
                    <#input id="purchasePrice" name="采购价" value="${item.purchasePrice}" underline="true"/>
                    <#input id="coreWord" name="核心词" value="${item.coreWord}" underline="false"/>
                    <#input id="longTailWord" name="长尾词" value="${item.longTailWord}" underline="true"/>
                <#input id="pictureUrlTwo" name="图片2" value="${item.pictureUrlTwo}" underline="false"/>
                <#input id="pictureUrlFour" name="图片4" value="${item.pictureUrlFour}" underline="true"/>
                <#input id="pictureUrlSix" name="图片6" value="${item.pictureUrlSix}" underline="false"/>
                <#input id="pictureUrlEight" name="图片8" value="${item.pictureUrlEight}"/>

                </div>
            </div>

            <!-- 这是分类下拉框 -->
            <div id="categoriesContent" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="categoriesTree" class="ztree tree-box" style="width: 250px !important;"></ul>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TblCommodityInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TblCommodityInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/commoditymanage/tblCommodity/tblCommodity_info.js"></script>
@}
